<font style="font-family:'Century Gothic', sans-serif; font-size: 10pt; color:#333;">
<table width="350" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="6"><font style="font-weight:bolder; color:#333333; font-size:11pt;">Jose Luis Lopez Lopez</font><br /><font style="color:#1F497D; font-size:10pt; font-weight:bold;">MSc Applied physics student at TU/e </font>
 </td>
  </tr>
  <tr>
      <td width="80"><font style="color:#1F497D; font-size:10pt;"><a href="mailto:j.l.lopez.lopez@student.tue.nl"m style="color:#FF6600; text-decoration:none;">j.l.lopez.lopez@student.tue.nl</a></font>
          <br /> <font style="color:#333333;font-weight:bold; font-style: italic; font-size:12px;">+31 (0)624121528</font></td>
   </td>
 </tr>
</table></font>
<a href="https://www.linkedin.com/in/jlopezfisica" target="_blank"><img src="https://dl.dropboxusercontent.com/s/om95ji73xr4rlx2/linkedin.png?dl=0" width="32" height="32" alt="LinkedIn" /></a>

<a href="https://gitlab.com/u/jlopezfisicacode/projects" target="_blank"><img src="https://dl.dropboxusercontent.com/s/ah0u2scmdm1w5m3/gitlab.png?dl=0" width="32" height="32" alt="LinkedIn" /></a>

<a href="https://www.tue.nl" target="_blank"><img src="https://dl.dropboxusercontent.com/s/dlkv2bvvhsz0len/tue.png?dl=0" width="64" height="32" alt="LinkedIn" /></a>
